<!-- Jumbotron -->
<div class="jumbotron no-border">
    <div class="row">
        <div class="col-md-8">
            <h1>Jason Berry</h1>
            <hr>
            <h3>Agile Software Developer</h3>
            <h4>Full Stack Expertise</h4>
            <h4>"Jack of all trades, master of none"</h4>
        </div>
        <div class="col-md-4">
            <img class="profile-img" src="img/jason-background.jpg" width="256"/>
        </div>
    </div>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="col-lg-4">
        <h2>Problem Solving</h2>
        <p>
            I grew up in Ohio and was born with the skills to solve tough problems.
            I was raised by loving parents who put an emphasis on hard work and family values.
        </p>
        <p>
            I honed my problem solving skills at a young age through science fair projects and fixing equipment on the family farm.
            This helped me discover that I had a fascination for how things work. I knew at an early age I was meant to be an engineer.
        </p>
        <p>
            I brought my talent, passion, and motivation to the <a href="http://www.wooster.edu">College of Wooster</a> where I earned a Bachelor of Arts in Computer Science in 2009.
            Two years later I made my debut as a software developer in New York City.
        </p>
        <p>
            In the last 3 years, each project I've worked on has been written in a different language and a different framework and I absolutely enjoy it.
            I've been lucky to have the opportunity to experience different schools of thought when it comes to solving both common and irregular web problems.
        </p>
    </div>
    <div class="col-lg-4">
        <h2>Consulting</h2>
        <p>
            For the last 3 years, I have been working as an agile software consultant at <a href="http://www.cyrusinnovation.com">Cyrus Innovation</a> where I have the pleasure of teaching clients the value of Agile Software Development and Extreme Programming practices.
        </p>
        <p>
            My favorite aspects of Agile Software Development are Pair Programming and Test Driven Development.
        </p>
        <p>
            I like Pair Programming because it just makes work more fun.
            In my opinion, there is no better way to learn a technology, process, or programmer than when you pair.
            It's unnatural to spend your whole day in front of a computer and as a human I find fulfillment in my job when I pair program.
        </p>
        <p>
            I find that TDD helps me to better understand the problem I'm testing before I write any code and it reveals insights into the business and its concerns.
            It means that I must gain a meaningful understanding of the code I am about to write before I write it and I think that's a powerful thing.
        </p>
    </div>
    <div class="col-lg-4">
        <h2>Teamwork</h2>
        <p>
            There is nothing more satisfying for me than completing a tough project with an excellent group of people.
            My working style consists of discipline, banter, and enthusiasm and it has served me well on every team I've worked with.</p>
        <p>
            I am an adaptive developer and I don't let my opinions get in the way of building important business feature.
            It makes me a solid, well-rounded team member who can contribute in any situation.
        </p>
        <p>
            I value timeliness, consistency and devotion toward the project and the team. While standup may be a short meeting,
            I believe in its effectiveness for coordinating team effort so I put a lot of emphasis on arriving on time every day.
        </p>
    </div>
</div>